{% extends "base.html" %}
{% block content %}

    {% if current_user.superuser %}
        <a href="{{ url_for('concerns.add') }}">Add Concern</a>
    {% endif %}

    <h2>Concerns</h2>

    {% if concerns %}
        {% for concern in concerns %}

            
            <p>
                <a href="{{ url_for('concerns.view', title=concern.title) }}">{{ concern.title }}</a>
                
                {% if current_user.superuser %}
                    <a href="{{ url_for('concerns.update', title=concern.title) }}">Update</a>
                {% endif %}
            </p>
        {% endfor %}
    {% else %}
        <h3>No Cars For Now</h3>
    {% endif %}

{% endblock content %}